<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create or Join Game</title>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-gray-800 text-white">
        <div class="text-center">
            <h1 class="border-y-4 border-indigo-500 text-4xl mb-20 font-extrabold text-gray-100 tracking-wider shadow-lg bg-gradient-to-r from-purple-500 via-indigo-600 to-blue-500 text-transparent bg-clip-text">
                CHESS GAME
            </h1>            
            <button onclick="window.location.href='/create_game'" 
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2
                transition ease-in-out duration-300 transform hover:scale-105 hover:shadow-lg">
                Create Game
            </button>
            <button onclick="window.location.href='/join_game'" 
                class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2
                transition ease-in-out duration-300 transform hover:scale-105 hover:shadow-lg">
                Join Game
            </button>
        </div>
    </div>
</body>
</html>
