<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Game Created</title>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-gray-800 text-white">
        <div class="text-center">
            <h1 class="text-4xl mb-4">Game Created</h1>
            <p>Share this key with your opponent:</p>
            <p class="text-2xl font-bold mb-4"><%= gameKey %></p>
            <button onclick="window.location.href='/index?key=<%= gameKey %>'" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-8 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Start Game
                </span>
            </button>
        </div>
    </div>
</body>
</html>