<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Home</title>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-gray-800 text-white">
        <div class="text-center">
            <h1 class="border-y-4 border-indigo-500 text-4xl mb-20 font-extrabold text-gray-100 tracking-wider shadow-lg bg-gradient-to-r from-purple-500 via-indigo-600 to-blue-500 text-transparent bg-clip-text">
                CHESS GAME
            </h1>
            

            <img class="piece_image h-auto max-w-xs mx-auto rounded-lg transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-3xl" src="/images/chess.png" alt="image description">
            <button onclick="window.location.href='/create_or_join'" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-8 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Start Game
                </span>
        </div>
    </div>
</body>
</html>