.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#1F2937;  /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure loader is on top */
  }
  
  .loader {
    width: 100px; /* Adjust width and height as needed */
    height: 100px;
    background-image: url('/images/loader.gif'); /* Path to your GIF */
    background-size: contain; /* Ensure GIF is contained within the element */
    background-repeat: no-repeat; /* Prevent repeat */
  }
  


/* Classic Theme */
body.classic-theme {
    background-color: #f5f5f5; /* Light background for classic theme */
    color: #000000; /* Dark text for classic theme */
}

body.classic-theme .chessboard {
    background-color: #e0d0a2; /* Classic chessboard color */
}

body.classic-theme .square.light {
    background-color: #ffffff; /* Light squares */
}

body.classic-theme .square.dark {
    background-color: #000000; /* Dark squares */
}

body.classic-theme .piece.white {
    filter: drop-shadow(0 0 10px rgb(0, 0, 0)); 
}

body.classic-theme .piece.black {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)); 
}

/* Highlight Circle for classic Theme */
body.classic-theme .square.highlight {
    position: relative; 
}

body.classic-theme .square.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%; /* Adjusted to create a smaller circle */
    height: 50%; /* Adjusted to create a smaller circle */
    box-shadow: 0 0 15px rgb(66, 164, 31);
    background-color: rgba(37, 179, 2, 0.8); /* Yellow color with some transparency */
    border-radius: 50%; /* Make it a solid circle */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
}

/* Existing Themes */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.light-theme .chessboard {
    background-color: #f0f0f0;
}

body.light-theme .square.light {
    background-color: #ffffff;
}

body.light-theme .square.dark {
    background-color: #c0c0c0;
}

body.dark-theme {
    background-color: #000000;
    color: #ffffff;
}

body.dark-theme .chessboard {
    background-color: #333333;
}

body.dark-theme .square.light {
    background-color: #dfd3d3;
}

body.dark-theme .square.dark {
    background-color: #222222;
}

/* Wooden Theme */
body.wooden-theme {
    background-color: #f5f5f5; /* Light background */
    color: #000000; /* Dark text */
}

body.wooden-theme .chessboard {
    background-color: #d4a671; /* Wood color for the board */
}

body.wooden-theme .square.light {
    background-color: #f4e8d0; /* Light wood color */
}

body.wooden-theme .square.dark {
    background-color: #a27335; /* Dark wood color */
}

/* Highlight Circle for classic Theme */
body.wooden-theme .square.highlight {
    position: relative; 
}

body.wooden-theme .square.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%; /* Adjusted to create a smaller circle */
    height: 50%; /* Adjusted to create a smaller circle */
    box-shadow: 0 0 15px rgb(130, 90, 16);
    background-color: rgba(239, 161, 4, 0.8); /* Yellow color with some transparency */
    border-radius: 50%; /* Make it a solid circle */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
}

/* Futuristic Theme */
body.futuristic-theme {
    background-color: #1a1a1a; /* Dark, sleek background */
    color: #e0e0e0; /* Light text for contrast */
}

body.futuristic-theme .chessboard {
    background-color: #2b2b2b; /* Slightly lighter dark background for the board */
    border: 2px solid #00ff00; /* Neon green border for a tech feel */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Neon glow effect */
}

body.futuristic-theme .square.light {
    background-color: #333333; /* Dark squares with a slight glow */
    border: 1px solid #444; /* Subtle border */
}

body.futuristic-theme .square.dark {
    background-color: #1a1a1a; /* Even darker squares */
}

body.futuristic-theme .piece {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7)); /* Default glow */
}

body.futuristic-theme .piece.white {
    filter: drop-shadow(0 0 10px rgb(0, 166, 249)); /* Blue glow for white pieces */
}

body.futuristic-theme .piece.black {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8)); /* Red glow for black pieces */
}

/* Highlight Circle for Futuristic Theme */
body.futuristic-theme .square.highlight {
    position: relative; /* Ensure the highlight effect is positioned relative to the square */
}

body.futuristic-theme .square.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: rgba(0, 255, 255, 0.3); /* Semi-transparent cyan circle */
    border-radius: 50%; /* Make it circular */
    box-shadow: 0 0 15px rgba(54, 157, 157, 0.8); /* Glowing effect */
    transform: translate(-50%, -50%); /* Center the circle */
    z-index: 1; /* Ensure it appears above the square */
    pointer-events: none; /* Prevent interaction with the circle */
}

/* Glowing effect for files and ranks labels in Futuristic Theme */
body.futuristic-theme .files-labels, 
body.futuristic-theme .ranks-labels {
    color: #00ff00; /* Neon green text */
    text-shadow: 0 0 8px rgba(0, 255, 0, 0.8), 0 0 12px rgba(0, 255, 0, 0.6); /* Neon glow effect */
}

body.futuristic-theme .files-labels div, 
body.futuristic-theme .ranks-labels div {
    text-align: center;
    line-height: 1;
}

.piece_image{
    filter: drop-shadow(0 0 10px rgba(241, 241, 146, 0.8));
}


.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 120px;
}

.highlight {
    position: relative;
}

.highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%; /* Adjusted to create a smaller circle */
    height: 50%; /* Adjusted to create a smaller circle */
    box-shadow: 0 0 15px rgb(255, 255, 0);
    background-color: rgb(233, 241, 68, 0.8); /* Yellow color with some transparency */
    border-radius: 50%; /* Make it a solid circle */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensure it doesn't interfere with clicks */
}


/* History box styling */
#moveHistoryTextarea {
    background-color: #1f2937; /* Dark background */
    color: #f3f4f6; /* Light text color */
    border: 1px solid #374151; /* Border color */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-bottom: 80px;
    max-width: 400px;
    height: 400px; /* Fixed height */
    font-family: 'Roboto', sans-serif; /* Professional font */
    resize: none; /* Disable resizing */
    overflow-y: auto; /* Make it scrollable */
    font-size: 16px; /* Increase font size for readability */
    line-height: 1.5; /* Increase line height for better readability */
    outline: none; /* Remove outline */
    transition: box-shadow 0.3s ease; /* Smooth transition for focus effect */
}

/* Focus effect for the history box */
#moveHistoryTextarea:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly more prominent shadow */
    border-color: #4b5563; /* Slightly lighter border color on focus */
}

/* Timer Styling */
.timer {
    color: white;
    font-family: "Segoe UI Symbol", "Arial", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
    position: absolute;
    user-select: none; /* Disable text selection */
}

#black-timer {
    border: 3px solid #e74c3c;
    top: -100px; /* Position above the chessboard */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#white-timer {
    border: 3px solid #3498db;
    bottom: -100px; /* Move the timer further down, adjust this value if needed */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.files-labels, .ranks-labels {
    display: flex;
    color: #ffffff;
    font-weight: 600;
    font-family: Arial, sans-serif;
    pointer-events: none;
    position: absolute;
    user-select: none; /* Disable text selection */
}

.files-labels {
    justify-content: space-between;
    width: 100%;
    bottom: -50px; /* Adjust the value to align properly */
    left: 0;
}

.ranks-labels {
    justify-content: space-between;
    height: 100%;
    top: 0;
    left: -50px; /* Adjust the value to align properly */
    flex-direction: column;
}

.files-labels div, .ranks-labels div {
    text-align: center;
    width: 50px;  /* Matches the width of the squares */
    height: 50px; /* Matches the height of the squares */
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reset button */
.btn1{
    height: 40px;
    width: 80px;
    font-size: 1.3rem;
    font-weight: 400;
}


.chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 480px; /* Chess.com board is typically slightly larger */
    height: 480px;
    border: 2px solid #333;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    position: relative;
    touch-action: none; /* Prevent default touch actions */
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none; /* Disable text selection */
}

.square.light {
    background-color: #ededce; /* Light square color similar to Chess.com */
}

.square.dark {
    background-color: #769656; /* Dark square color similar to Chess.com */
}

.piece {
    cursor: pointer;
    transition: transform 0.3s ease;
    touch-action: none; /* Prevent default touch actions */
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.6;
    pointer-events: none; /* Disable interactions while dragging */
}

.flipped {
    transform: rotate(180deg);
}

/* Rotate labels and pieces for the black player */
.flipped .files-labels {
    transform: rotate(180deg);
}

.flipped .ranks-labels {
    transform: rotate(180deg);
}

.flipped .piece {
    transform: rotate(180deg);
}

.promotion-container {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 5px;
    z-index: 10;
    position: absolute;
    transform: translate(-50%, -50%); /* Center the container on the pawn */
    user-select: none; /* Disable text selection */
}

.promotion-button {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    padding: 0;
    transition: transform 0.2s;
}

.promotion-button:hover {
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 640px) {

    body.futuristic-theme .files-labels div, 
    body.futuristic-theme .ranks-labels div {
        font-size: 0.8rem;
    }

    #moveHistoryTextarea {
        height: 250px; /* Reduce height on smaller screens */
        max-width: 250px; /* Reduce width on smaller screens */
        padding: 8px; /* Reduce padding on smaller screens */
    }
    
    /* Reset button */
    .btn1{
        height: 35px;
        width: 60px;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .timer {
        font-size: 1.25rem; /* Smaller font size for medium screens */
    }

    #black-timer{
        top: -80px;
    }
     #white-timer {
        bottom: -80px;
    }

    .files-labels div, .ranks-labels div {
        width: 45px; /* Adjust for smaller screens */
        height: 45px;
        line-height: 45px;
    }

    .chessboard {
        width: 350px; /* Smaller chessboard for smaller screens */
        height: 350px;
    }

    .piece {
        font-size: 22px; /* Adjust piece size for smaller screens */
    }

    .files-labels {
        font-weight: 400;
        bottom: -45px; /* Adjust label position for smaller screens */
    }

    .ranks-labels {
        font-weight: 400;
        left: -45px; /* Adjust label position for smaller screens */
    }

    .promotion-container {
        padding: 3px;
    }

    .promotion-button {
        height: 30px;
        width: 30px;
        margin: 0 3px;
    }
}

@media (max-width: 480px) {

    body.futuristic-theme .files-labels div, 
    body.futuristic-theme .ranks-labels div {
        font-size: 0.6rem;
    }

    #moveHistoryTextarea {
        height: 200px; /* Further reduce height on very small screens */
        max-width: 200px; /* Further reduce width on very small screens */
        padding: 6px; /* Further reduce padding on very small screens */
        font-size: 12px; /* Smaller font size for very small screens */
    }

    /* Reset button */
    .btn1{
        height: 25px;
        width: 50px;
        font-size: 0.8rem;
        font-weight: 400;
    }

    
    .theme1{
        font-size: 0.9rem;
    }

    #theme{
        height: 33px;
        width: 90px;
        font-size: 0.8rem;
    }

    .timer {
        font-size: 1rem; /* Even smaller font size for very small screens */
    }

    #black-timer{
        top: -70px;
    }
     #white-timer {
        bottom: -70px;
    }

    .files-labels div, .ranks-labels div {
        width: 20px; /* Further adjustment for very small screens */
        height: 20px;
        line-height: 5px;
    }

    .chessboard {
        width: 280px; /* Further reduction in chessboard size */
        height: 280px;
    }

    .piece {
        font-size: 18px; /* Further reduction in piece size */
    }

    .files-labels {
        font-weight:lighter;
        font-size: smaller;
        bottom: -25px; /* Further adjustment for label position */
    }

    .ranks-labels {
        font-weight: lighter;
        left: -25px; /* Further adjustment for label position */
    }

    .promotion-container {
        display: flex;
        background: rgba(0, 0, 0, 0.8);
        padding: 2px;
        z-index: 10;
        position: absolute; /* Change to absolute for correct positioning */
    }

    .promotion-button {
        margin: 0 2px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: white;
        background: none;
        border: none;
        transition: transform 0.2s;
    }

    .promotion-button:hover {
        transform: scale(1.2);
    }
}